<a href="https://colab.research.google.com/github/vanesssa17serrano/progralll_kathia/blob/main/tarea_progra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Declaracion de variables

In [ ]:
saludo="Hola mundo"
print(saludo)

Hola mundo

In [ ]:
num1=float(input("ingrese un numero"))
num2=float(input("ingrese otro numero "))
resp=num1-num2
print("La resta de ",num1,"-",num2,"=",resp)

In [ ]:
name="Kathia Serrano"
edad=20
Saludo ="Hola"+name+",tu edad "+str(edad)
print(Saludo)

In [ ]:
nombre=input("Dime tu nombre:")
edad=input("Tu edad:")
saludo=("Hola que tal"+nombre+",tu edad:"+edad)
print(saludo)

practica 2

Funciones de usuario

Convertir de grados celsius a farenheit

In [ ]:
def convertir(r):
  return 32+c*9/5
  #Funcion que se encarga de convertir

In [ ]:
c=float(input("Celsius:"))
print("F:",convertir(c))

Convertir farentheit a celsius

In [ ]:
def convertir(r):
  return(r-32)*5/9
  #funcion que se encarga de convertir

In [ ]:
r=float(input("Farenheit:"))
print("c:"convertirf(r))

Convertir Celsius a farenheit

In [ ]:
def convertirk(k):
  return k + 273.15
  #funcion que se encarga de convertir

In [ ]:
k=float(input("Celsius:"))
print("K:",convertirk(k))

Calcular el sueldo mensual de un empleado (mi versionn)

In [ ]:
def sueldo(numHrs,valorXhr):
  sueldo=numHrs*valorXhr*30
  impisss=sueldo*0.30
  impafp=sueldo*0.0625
  if(numHrs>8):
  sueldo +=(numHrs-8)*valorXhr+2*30
  returns sueldo-impisss-impafp

In [ ]:
valorXhr=4
numHrs=float(input("Horas trabajadas:"))
print("Sueldo:",sueldo (numHrs, valorXhr))

Calcular el sueldo mensusal de un empleado

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo=numHrs*valorXhr*30
  impisss=sueldo *0.30
  impafp=sueldo *0.0625
  if(numHrs>8):
  sueldo +=(numHrs-8)*valorXhr*2*30
  sueldo =sueldo*0.9075
  return sueldo-impisss-impafp

In [ ]:
valorXhr=4
numHrs=float(input("Horas trabajadas: "))
print("Sueldo", sueldo(numHrs,valorXhr))

Practica 3

Listas

In [ ]:
data=[2,5,6,8,9]

In [ ]:
resp=map(lambda n:n**3, data)
print(list(resp))

Ejercicio

Convertir farenheit a celsius

In [ ]:
resp=map(lambda n:n*9/5+32, data)
print(list(resp))

Ejercio

Filtrar numeros pares con filter

In [ ]:
filtro=filter(lambda n:n%2==0,data)
print(list(filtro))

Ejercio

Filtrar numeros impares con filter

In [ ]:
impares=filter(lambda n:n%2!=0,data)
print(list(impares))

Ciclos

For

In [ ]:
for item in data:
  print(item)

While

In [ ]:
i=0
n=len(data)
while i<n:
  print(data[i])
  i+=1

Ejercicio

tabla de multiplicar

In [ ]:
n=int(input("N tabla:"))
for i in range(1,11):
  print (n,"X",i,"=",n*i)

Ejercicio de impuestos sobre renta

In [ ]:
def sueldo (numHrs,valorXhr):
  sueldo=numHrs*valorXhr*30
  if(numHrs>8):
    sueldo +=(numHrs-8)*valorXhr*2*30
    return  sueldo

In [ ]:
tabla_isr=[
    [0.01,472,0,0],
    [472.01,895.24, 0.1,17.67],
    [895.25, 2038.1,0.2,60.00],
    [2038.11,9999999,0.3,288.57]

In [ ]:
def calcularIsr(sueldo,sueldoneto):
  impSr=0
  for tramo in tabla_isr:
    if sueldo>tramo[0] and sueldo<=tramo[1]:
      impSr=(sueldoNeto-tramo[0])*tramo[2]+tramo[3]
      return impSr

In [ ]:
valorXhr=4
numHrs=float(input("Horas trabajadas:"))
s =sueldo (numHrs,valorXhr)
isr=calcularIsr(s,s*0.9075)
b=4
print("Sueldo:",s,"ISR:",isr,s*0.9075-isr)

Pacial 1

Kathia Vanessa Serrrano Portillo USSS167322

Conversores

In [ ]:
def pies_cuadrados_a _varas _cuadradas (pies_cuadrados):
  return pies_cuadrados/1.19599

In [ ]:
def pies_cuadrados_a _yaras_cuadradas(pies_cuadrados):
  return pies_cuadrados/9.0

In [ ]:
def pies_cuadrados_a_metros_cuadradas(pies_cuadrados):
  return pies_cuadrados/10.7639

In [ ]:
def metros_cuadrados_a_tareas(metros_ cuadrados):
  return metros_cuadrados/4046.86

In [ ]:
def metros_cuadrados_a_manzanas(metros_ cuadrados):
  return metros_cuadrados/10000.0

In [ ]:
def metros_cuadrados_a_hecteras(metros_cuadrados):
  return metros_cuadrados/10000.0

In [ ]:
 Menú de opciones
while True:
    print("1. Pies cuadrados a Varas cuadradas")
    print("2. Pies cuadrados a Yardas cuadradas")
    print("3. Pies cuadrados a Metros cuadrados")
    print("4. Metros cuadrados a Tareas")
    print("5. Metros cuadrados a Manzanas")
    print("6. Metros cuadrados a Hectáreas")
    print("7. Salir")

    opcion = int(input("Selecciona una opción: "))

    if opcion == 7:
        break

    valor = float(input("Ingresa el valor del área: "))

    if opcion == 1:
        resultado = pies_cuadrados_a_varas_cuadradas(valor)
        print(f"{valor} pies cuadrados son {resultado} varas cuadradas")
    elif opcion == 2:
        resultado = pies_cuadrados_a_yardas_cuadradas(valor)
        print(f"{valor} pies cuadrados son {resultado} yardas cuadradas")
    elif opcion == 3:
        resultado = pies_cuadrados_a_metros_cuadrados(valor)
        print(f"{valor} pies cuadrados son {resultado} metros cuadrados")
    elif opcion == 4:
        resultado = metros_cuadrados_a_tareas(valor)
        print(f"{valor} metros cuadrados son {resultado} tareas")
    elif opcion == 5:
        resultado = metros_cuadrados_a_manzanas(valor)
        print(f"{valor} metros cuadrados son {resultado} manzanas")
    elif opcion == 6:
        resultado = metros_cuadrados_a_hectareas(valor)
        print(f"{valor} metros cuadrados son {resultado} hectáreas")
    else:
        print("Opción no válida. Por favor, selecciona una opción válida.")